@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=New+Rocker&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('/img/NetFlix-anuncia-documentario-sobre-os-Racionais-MCs.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  padding-top: 40px;
}

.logo{
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 45px;
}

.logo h3{
  color: #fff;
  font-size: 25px;
  margin-top: 5px;
}

.nav ul{
  display: flex;
}

.nav ul li{
  list-style: none;
}

.nav ul li a{
  text-decoration: none;
  padding: 0px 30px;
  color: rgb(277,238,227);
}

nav ul li a:hover{
  color: #db0000;
  font-weight: 500;
  transition: 0.5s;
}

.user{
  cursor: pointer;
  color: #db0000;
  margin-right: 40px;
}

.user i{
  margin:20px;
  margin-right: 10px;
}

.user i:hover{
  color: #fff;
}

.user a{
  text-decoration: none;
  display: inline-block;
  border: 1px solid rgb(277,238,227);
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.user a:hover{
  border: 1px solid #db0000;
  transition: 0.3s;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}

img{
  max-width: 100%;
}

section{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
  padding-top: 120px;
}

.heropage .inside-heropage{
  color: #fff;
}

.heropage .inside-heropage .sub-logo h1{
  color: #db0000;
  font-size: 34px;
  font-weight:bold;
}

.heropage .inside-heropage .sub-logo h1 .filme{
  font-size: 14px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 0.425);
}

.heropage .inside-heropage .sub-logo h2{
  font-family: 'New Rocker', cursive;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 1px;
}

.heropage .inside-heropage .sub-logo {
 display: flex;
 flex-direction: column;
 line-height: 35px;
 margin-bottom: 30px;
}

.heropage .inside-heropage .sub-logo p{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(235, 235, 235);
}

.line1 .sub {
   color: rgba(223, 223, 223, 0.699);
   margin-bottom: 30px;
}

.line1 span{
  padding: 1px 10px;
  border: 1px solid rgba(223, 223, 223, 0.699);
}

.line1 .descricao {
  width: 470px;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 14px;
}

.line1 .autores .span{
  border: none;
  padding: 0;
  color: rgba(223, 223, 223, 0.699);
}

.line1 .autores{
  margin-bottom: 30px;
  font-size: 14px;
}

.btn1 p{
  margin-bottom: 20px;

}

.btn1 a{
  background: #db0000;
  padding: 6px 20px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  
}

.btn1 a:hover{
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255, 255, 2555, 0.1);
}

.btn1 a:nth-child(3){
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255, 255, 2555, 0.1);
}

.btn1 a:nth-child(3):hover{
  background: #db0000;
}


video{
  width: 700px;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
}

